
.btn {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	padding: 1rem 2rem;
	background-color: #1f5f5f;
	color: #fff;
	border: 0;
	position: absolute;
	transition: all 200ms ease;
}
.btn.btn-round {
	border-radius: 10px;
}
.btn:focus {
	outline: none;
}
.btn:active {
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.1);
}


.btn-border {
	display: inline-block;
	margin: 5px;
}
.btn-border	.btn {
	display: block;
	margin: 2px;
}
	
.btn-border.btn-round {
	border-radius: 10px;
}
.btn-border.btn-round .btn {
	border-radius: 10px;
}

.btn9 {
	margin-left: 650px;
}






























.ref {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	position: fixed;
	z-index: 10000;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	color: #fff;
	padding: 1rem 0;
	background-image: linear-gradient(135deg, rgba(60, 88, 173, 0.8), rgba(41, 152, 172, 0.8));
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}
.ref a {
	color: #fff;
}